:root {
  --logo-color: #f6b1c4;
  --bg-color: #1a191d;
  color: white;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  display: flex;
  background-color: var(--bg-color);
  height: 100vh;
}

#container {
  display: flex;
  justify-content: center;
  height: 100vh;
	width: 500px;
  background-size: cover;
  background-image: url(./images/logo.png);
  background-repeat: no-repeat;
}

#logo-wrd{
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 20px;
  padding-left: 70px;
  max-height: 20px;
  color:var(--logo-color);
  font-weight: bold;
  font-family: 'Aboreto';
  font-size: 1.5rem;
  letter-spacing: 2px;
  margin-top: 5.5rem;
  margin-left: 1.5rem;
  background-color:rgba(253,171,202,.1);
  border-radius: 20px;
  background-image: url(./images/kami.png);
  background-size: 80px;
  background-position: -2% 45%;
  background-repeat: no-repeat;
}

.form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;
  flex-grow: 1;
}
.form-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  max-width: 500px;
  height: 200px;
  gap: 20px;
}

#ctn-form {
  display: flex;
  flex-direction: column;
  max-height: 40px;
  flex: 1;
}

input {
  padding: .3rem;
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--logo-color);
  box-shadow: none;
}

input:focus{
  outline: none;
}






